configuration {
    modi: "window,run,drun";
    show-icons: true;
    font: "Iosevka 10";
    window-format: "{c}";
    icon-theme: "Fluent";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
